*{
      margin: 0;
      padding: 0;
      font-family: 'poppins',sans-serif;
      box-sizing: border-box;
  }
  
  /* body{
      background-color: aliceblue;
  } */
  
 


  .footer{
     
      background-image: linear-gradient(rgba(6, 7, 12, 6.1),rgba(28, 28, 30, 3));
     
      /* color: rgb(212, 210, 210); */
    
  }
  .row{
      
      margin: 14px 40px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
  }
  .social-icons{
    display: flex;
  }
  .social-icons img{
     width: 50px;
     transition: 0.5s;
     margin-top:10px;
     
  }
  
  .social-icons a:hover img{
     transform: translateY(-12px);
  }
  
  
  
  .col{
      flex-basis: 25%;
  }
  
  .col:nth-child(1) {
      flex-basis: 25%;
    }
  
  .col:nth-child(2) {
      flex-basis: 13%;
      margin-right: 20px;
    }
  
    
  .col:nth-child(3) {
     margin-left: 5px;
    }
  
  
  .logo{
      height: 46px;
      width: 200px;
      margin-bottom: 22px;
  }
  
  .col h2{
      width: fit-content;
      margin-bottom: 35px;
      position: relative;
      font-size: 30px;
  }
  .email-id{
      width: fit-content;
      border-bottom: 1px solid #ccc;
      margin: 20px 0;
  }
  ul li{
      list-style: none;
      margin-bottom: 12px;
      
  }
  ul li a{
      text-decoration: none;
      /* color: #fff; */
  }
  
  form{
      padding-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      margin-bottom: 50px;
  }
  form input{
      width: 100%;
      background: transparent;
      color: #ccc;
      border: 0;
      outline: none;
  }
  hr{
      width: 90%;
      border: 0;
      border-bottom: 1px solid #ccc;
      margin-left:55px;
  }
  .copyright{
      text-align: center; 
      /* margin-bottom: 50px;   */
      margin-top: 10px;
  }
  
  
  .nav-links{
        flex: 1;	
  }
  
  .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 6px 1px;
        position: relative;
  }
  
  .nav-links ul li::after{
        content: ' ';
        width: 0%;
        height: 2px;
        background: #f44336;
        display: block;
        transition: 0.5s;
  
  }
  .nav-links ul li:hover::after{
      clear: both;
        width: 100%;
      box-sizing: border-box;
  }
  
  
  @media screen and (max-width:870px) {
    .col:nth-child(2) {
        flex-basis: 13%;
        margin-right: 5px;
      }

      .col h2{
        margin-bottom: 20px;
        font-size: 20px;
    }

    .col ul li{
        font-size: 15px;
        
    }
    
  }
