
     
    .swiper-container {
      list-style: none;
    }
    
    .pagination {
      bottom: 0;
      padding-bottom: 4px;
    }
    
    .slide {
      text-align: center;
      height: 320px;
      /* line-height: 320px; */
      /* background: #4b679a; */
      /* overflow: hidden; */
    }
    
    .slider{
      background-image : url("../images/bg-lining.png");
      height : 550px;
      padding : 50px;
      width : 1200px;
      margin : auto;
    }
    
    .slider center{
      margin-bottom : 70px;
      font-size: 50px;
      line-height: 0.5em;
      font-weight: bold;
    }
    
    #swiper{
      height: 300px;
    }
    
    @media only screen and (max-width: 1200px){ 
    /* .slider center{
        font-size: 35px;
        line-height: 0.4em;
        margin-bottom: 55px;
    } */

    .slider{
      width : 900px;
      margin: auto;
      height : 500px;
    }
  }

  
  @media only screen and (max-width: 900px){ 
    
    .slider{
      width : 650px;
      height : 450px;
      margin: auto;
    }

    .slider center{
      margin-bottom : 45px;
      font-size: 40px;
      line-height: 0.4em;
      font-weight: bold;
    }

  }

  @media only screen and (max-width: 650px){ 
    
    .slider{
      width : 550px;
      height : 440px;
      margin: auto;
    }

    .slider center{
      margin-bottom : 45px;
      font-size: 40px;
      line-height: 0.4em;
      font-weight: bold;
    }

  }

  @media only screen and (max-width: 550px){ 
    
    .slider{
      width : 425px;
      height : 440px;
      margin: auto;
      padding-left: 80px;
      padding-right: 70px;
      padding-top: 30px;
    }

    .slider center{
      margin-bottom : 30px;
      font-size: 40px;
      line-height: 0.9em;
      font-weight: bold;
    }

  }





  

  @media only screen and (max-width: 425px){ 
    .slider{
      width : 320px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }